html {
	background: #fff;
	height: 100%;
	font-family: helvetica, arial;
}

body {
	background: url(back.png);
	width: 100%;
	height: 100%;
}

#display {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.tiddler {
	position: absolute;
	width: 500px;
	word-wrap: break-word;
}
.tiddler .content {
	background: #fff;
	-webkit-border-radius: 8px;
	padding: 10px;
}
.tiddler .heading h1 {
	display: inline-block;
	margin: 0 0 10px 0;
	font-size: 24px;
	color: #333;
	cursor: move;
}